.smlcaps{
  font-variant:small-caps;
}
.uc{
 text-transform: uppercase;
}

h1 {
 font-size: 80px;
}

h2 {
 font-size: 30px;
 vertical-align: top;
}

body{
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 font-size: 18px;
}

figure {
  border: 0 #cccccc solid;
  padding: 0;
  margin: auto;
  display: inline-block;
}

img.headshot { 
  vertical-align: top;
  width: 100%;
  object-fit: cover;
}

figcaption {
  padding: 0;
  text-align: left;
  vertical-align: bottom;
}

th{
  font-size:24px;
  font-weight: 300;
}

td{
  vertical-align: top;
}

td.headshot_l{
  width: 33%;
  margin-left: auto;
  margin-right: auto;  
  padding: 0 4% 7% 0;
}

td.headshot_c{
  width: 33%;
  margin-left: auto;
  margin-right: auto;  
  padding: 0 2% 7% 2%;
}

td.headshot_r{
  width: 33%;
  margin-left: auto;
  margin-right: auto;  
  padding: 0 0 7% 4%;
}

ul{
  list-style-type:none;
}

a:link {
  color: #A6192E;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  color: #A6192E;
  font-weight: 700;
  text-decoration: underline;
}
a:visited {
  color: #A6192E;
}

.image_section img{
 display: inline-block;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px 20px 20px;
  flex: 1 100%;
  max-width: 1400px
}

.main {
 text-align: left;
 width: 100%;
}

.aside-1 {
 text-align: left;
 vertical-align: top;
}

.aside-2 {
 text-align: right;
 background: hotpink;
}

@media (max-width:600px){
 .image_section img:nth-child(2){
   display: none;
 }
 .image_section img:nth-child(3){
   display: none;
 }
}

@media (max-width:1650px){
 .image_section img:nth-child(3){
   display: none;
 }
}

@media all and (min-width: 600px) {
 .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
 .main    { flex: 3 0px; }
 .aside-1 { order: 1; }
 .main    { order: 2; }
 .aside-2 { order: 3; }
 .footer  { order: 4; }
}